<button tabindex="-1" class="close-button" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
<div
  class="box">
  <h3>Đăng nhập</h3>
  <form [formGroup]="loginForm">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-icon>person</mat-icon>
      <mat-form-field>
          <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-icon>vpn_key</mat-icon>
      <mat-form-field>
        <input type="password" matInput placeholder="Password"  formControlName="password">
      </mat-form-field>
    </div>
    <div class="row-space-between">
        <mat-checkbox>Nhớ tài khoản</mat-checkbox>
        <a routerLink="/home">Quên mật khẩu</a>
    </div>
    <button mat-raised-button (click)="onLogin()">Đăng nhập</button>
  </form>
</div>
