<div class="section-container">
    <div class="brief" fxLayout="row" fxLayoutAlign="center center">
      <div class="row">
        <div class="col-sm-6 col-left scrollable">
          <h3>Về FindHouse : giải pháp 360 cho thị trường bất động sản Việt Nam</h3>
          <p>FindHouse là một trong những công ty đầu tiên tại Việt Nam áp dụng công nghệ hiện đại vào lĩnh vực bất động sản,
            giúp chuẩn hóa quá trình giao dịch bất động sản, kết nối trực tiếp người mua và người bán với nhau. FindHouse
            xây dựng nên cổng dữ liệu bất động sản (BĐS) lớn nhất thị trường Việt Nam, với sản phẩm đa dạng phân khúc, nguồn
            thông tin minh bạch và đã được kiểm định.</p>
          <p>Đến với FindHouse, người mua hoàn toàn yên tâm vì trong suốt quá trình tìm kiếm và được tư vấn tại trung tâm giao
            dịch FindHouse, mọi thông tin nhận được về bất động sản rao bán đã được đội ngũ của chúng tôi kiểm định và xác
            minh độ chính xác trước khi được đăng tải lên FindHouse.vn. Bên cạnh đó, người mua và đội ngũ tư vấn của FindHouse
            còn được cung cấp ứng dụng di động nhằm tương tác, đánh giá trong suốt quá trình xem bất động sản thực tế. Khi
            người mua quyết định chọn bất động sản và tiến hành giao dịch, đội ngũ pháp lý và luật sư của FindHouse sẽ thực
            hiện các thủ tục mua bán, thanh toán, sang tên, giúp giao dịch đạt độ an toàn cao nhất.</p>
          <p>Về phía người bán, FindHouse cung cấp ứng dụng đăng tin và theo dõi tương tác, qua đó họ có thể theo dõi sát sao
            thông tin phản hồi từ thị trường về bất động sản của họ, và tạo sự kết nối với khách hàng, vì vậy tất cả thông
            tin đối với người mua và người bán trở nên minh bạch.</p>
          <p>Không chỉ phát triển giải pháp thị trường mua bán bất động sản, FindHouse còn cung cấp mô hình SaaS trong việc
            quản lý chung cư và căn hộ tại Việt Nam. Mô hình này bao gồm: PAM – là giải pháp toàn diện trong quản lý, vận
            hành tòa nhà và cung cấp dịch vụ cư dân; và TAP: là ứng dụng dành cho cư dân để tương tác với ban quản lý, kết
            nối cộng đồng và yêu cầu những dịch vụ tiện ích, đồng thời có thể nhanh chóng đưa căn hộ vào thị trường giao
            dịch của FindHouse ngay khi chủ sở hữa có nhu cầu.</p>
          <p>Với những lợi thế vượt trội về công nghệ hiện đại và giải pháp triệt để, FindHouse đã và đang đầu tư vào cơ sở
            hạ tầng kĩ thuật, mở nhiều trung tâm giao dịch và đầu tư tuyển dụng nhân sự, sẵn sàng cho sự tăng trưởng đột
            phá khắp thị trường Việt Nam và cả khu vực Đông Nam Á.</p>
        </div>
        <div class="col-sm-6 col-right border">
          <div class="strong">
            <h3>Thế Mạnh Của FindHouse</h3>
          </div>
          <div>
            <div class="bl-media">
              <mat-icon>brightness_high</mat-icon>
              <div>
                <h4>Chất lượng</h4>
                <p>FindHouse sở hữu nguồn sản phẩm đa dạng và chất lượng, thông tin minh bạch và được thẩm định đầy đủ, pháp
                  lý rõ ràng và có thể thực hiện giao dịch ngay.</p>
              </div>
            </div>
            <div class="bl-media">
              <mat-icon>thumb_up</mat-icon>
              <div>
                <h4>Tin tưởng</h4>
                <p>FindHouse quản lý và chịu trách nhiệm về mọi thông tin bất động sản đang được đăng cho thuê/rao bán trên
                  website, cam kết mang đến cho khách hàng sự an toàn và hiệu quả cao trong giao dịch mua bán bất động sản.</p>
              </div>
            </div>
            <div class="bl-media">
              <mat-icon>verified_user</mat-icon>
              <div>
                <h4>Hiệu quả</h4>
                <p>FindHouse mang đến hiệu quả thiết thực cho khách hàng khi áp dụng các tiêu chuẩn chuyên nghiệp "Minh bạch
                  - An toàn - Tiện lợi" trong giao dịch mua bán bất động sản. Sự hài lòng của khách hàng sau mỗi giao dịch
                  là kim chỉ nam hoạt động của FindHouse.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>