<form [formGroup]="filterForm">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div class="selection-bar">
      <mat-icon>location_city</mat-icon>
      <mat-form-field>
        <mat-select formControlName="city">
          <mat-option [value]="'all'">Tất cả</mat-option>
          <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="selection-bar">
      <mat-icon>location_on</mat-icon>
      <mat-form-field>
        <mat-select  formControlName="district">
          <mat-option [value]="'all'">Tất cả</mat-option>
          <mat-option *ngFor="let district of districts" [value]="district">{{district}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="selection-bar">
      <mat-icon>all_out</mat-icon>
      <mat-form-field>
        <mat-select formControlName="ward">
          <mat-option [value]="'all'">Tất cả</mat-option>
          <mat-option *ngFor="let ward of wards" [value]="ward">{{ward}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="selection-bar">
      <mat-icon>home</mat-icon>
      <mat-form-field>
        <mat-select formControlName="type">
          <mat-option [value]="'all'">Tất cả</mat-option>
          <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="selection-bar">
      <mat-icon>monetization_on</mat-icon>
      <mat-form-field>
        <mat-select formControlName="type">
          <mat-option [value]="'all'">Tất cả</mat-option>
          <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="selection-bar">
      <mat-icon>details</mat-icon>
      <mat-form-field>
        <mat-select formControlName="type">
          <mat-option [value]="'all'">Tất cả</mat-option>
          <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary">Tìm kiếm</button>
    <button mat-raised-button color="primary" (click)="expand()">Mở rộng</button>
  </div>
  <div *ngIf="isExpanded" fxLayout="row" fxLayoutAlign="start center">
    <div class="selection-bar expand">
      <mat-icon>clear_all</mat-icon>
      <mat-form-field>
        <mat-select formControlName="floor">
          <mat-option [value]="'all'">Tất cả</mat-option>
          <mat-option *ngFor="let floor of floors" [value]="floor">{{floor}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="selection-bar expand">
      <mat-icon>directions</mat-icon>
      <mat-form-field>
        <mat-select formControlName="direction">
          <mat-option [value]="'all'">Tất cả</mat-option>
          <mat-option *ngFor="let direction of directions" [value]="direction">{{direction}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="choose-number-panel expand">
      <div>Phòng ngủ:   </div>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="1">1</mat-radio-button>
        <mat-radio-button value="2">2</mat-radio-button>
        <mat-radio-button value="3">3</mat-radio-button>
        <mat-radio-button value="4">4</mat-radio-button>
        <mat-radio-button value="5">5+</mat-radio-button>
      </mat-radio-group> 
    </div>
    <div class="choose-number-panel expand">
      <div>Phòng tắm:   </div>
      <mat-radio-group class="radio-group">
        <mat-radio-button value="1">1</mat-radio-button>
        <mat-radio-button value="2">2</mat-radio-button>
        <mat-radio-button value="3">3</mat-radio-button>
        <mat-radio-button value="4">4</mat-radio-button>
        <mat-radio-button value="5">5+</mat-radio-button>
      </mat-radio-group> 
    </div>
  </div>
</form>
