<div class="section-container" fxLayout="column" fxLayoutAlign="center center">
  <form [formGroup]="realEstateForm">
    <div class="field">
      <div class="number">1</div>
      <div class="category">Nhu cầu của bạn:</div>
      <mat-radio-group class="radio-group" formControlName="form">
        <mat-radio-button checked value="0">Bán</mat-radio-button>
        <mat-radio-button value="1">Cho thuê</mat-radio-button>

      </mat-radio-group>
    </div>
    <div class="field">
      <div class="number">2</div>
      <div class="category">Loại bất động sản:</div>
      <mat-radio-group class="radio-group" formControlName="type">
        <mat-radio-button checked value="0">Nhà riêng</mat-radio-button>
        <mat-radio-button value="1">{{realEstateForm.controls['form'].value == 0 ? "Đất nền" : "Mặt bằng"}}</mat-radio-button>
        <mat-radio-button value="2">Chung cư</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="field">
      <div class="number">3</div>
      <div class="category">Địa chỉ:</div>
    </div>
    <div class="field">
      <div class="number">4</div>
      <div class="category">Diện tích:</div>
    </div>
    <div class="field">
      <div class="number">5</div>
      <div class="category">Giấy chủ quyền:</div>
    </div>
    <div class="field">
      <div class="number">6</div>
      <div class="category">Họ tên:</div>
    </div>
    <div class="field">
      <div class="number">7</div>
      <div class="category">Điện thoại:</div>
    </div>
    <div class="field">
      <div class="number">8</div>
      <div class="category">Email:</div>
    </div>
    <div class="field">
      <div class="number">9</div>
      <div class="category">Nhu cầu khác:</div>
    </div>
  </form>
</div>