mat-card {
    margin: 8px;
}
.mat-card {
    padding: 8px !important;
}
.mat-card-title {
    font-size: 20px;
    font-weight: 500;
}
.head-line {
    font-size: 16px;
    font-weight: 400;
    color: black
}
.thumbnail{
    margin-right: 16px;
    height: 180px;
    width: 180px;
}
a {
    text-decoration-color: black;
    > mat-card-title {
        font-weight: 600;
        color: black;
    }
}
