mat-card {
    margin: 8px;
}
.mat-card {
    padding: 8px !important;
}
img {
    margin-right: 16px;
}
.mat-card-title {
    font-size: 20px;
    font-weight: 500;
}
.head-line {
    font-size: 16px;
    font-weight: 400;
    color: black
}
.thumbnail{
    width: 100px;
    height: 100px

}