.navbar-transparent {
    padding-top: 0px;
}
.btn-post{
    background-color: rgba(67,160,71 ,.9);
    color: white;
}
.btn-login {
    background-color: rgba(37, 49, 206, 0.9);
    color: white; 
}
.fixed-top {
    z-index: 10;
}
a { cursor: pointer; }