<nav class="navbar navbar-expand-lg fixed-top" appScrollHeader>
  <div class="navbar-translate">
    <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar"></span>
      <span class="navbar-toggler-bar"></span>
      <span class="navbar-toggler-bar"></span>
    </button>
    <a class="navbar-brand" href="http://localhost:4200">FindHouse</a>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/property', {form: 1}]">Mua</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/property', {form: 2}]">Thuê</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" #menuTriggerNews="matMenuTrigger" (mouseenter)="menuTriggerNews.openMenu()" [matMenuTriggerFor]="news">Tin tức</a>
        <mat-menu #news="matMenu">
          <span (mouseleave)="menuTriggerNews.closeMenu()">
            <button mat-menu-item (click)="navigateToNewsList('market')">Tin thị trường</button>
            <button mat-menu-item (click)="navigateToNewsList('analysis')">Phân tích - nhận định</button>
            <button mat-menu-item (click)="navigateToNewsList('policy')">Chính sách - Quản lý</button>
            <button mat-menu-item (click)="navigateToNewsList('plan')">Thông tin quy hoạch</button>
            <button mat-menu-item (click)="navigateToNewsList('worldwide')">Bất động sản thế giới</button>
            <button mat-menu-item (click)="navigateToNewsList('constant')">Tư vất luật</button>
            <button mat-menu-item (click)="navigateToNewsList('advice')">Lời khuyên</button>
          </span>
        </mat-menu>
      </li>
      <li class="nav-item">
        <a class="nav-link" #menuTriggerNews1="matMenuTrigger" (mouseenter)="menuTriggerNews1.openMenu()" [matMenuTriggerFor]="about">Về chúng tôi</a>
        <mat-menu #about="matMenu">
          <span (mouseleave)="menuTriggerNews1.closeMenu()">
            <button mat-menu-item [routerLink]="['/about']">Giới thiệu</button>
            <button mat-menu-item [routerLink]="['/contact']">Liên lạc</button>
          </span>
        </mat-menu>
      </li>
    </ul>
    <button mat-raised-button class="btn btn-post" [routerLink]="['/post']">Đăng tin</button>
    <button mat-raised-button class="btn btn-login" *ngIf="!authService.logged" (click)="openLoginScreen()">Đăng nhập</button>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="authService.logged" class="btn-login">
      <mat-icon>
        account_circle
      </mat-icon>
      {{userInfo.name}}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="toProfile()">Thông tin cá nhân</button>
      <button mat-menu-item (click)="logout()"><a href="http://localhost:4200">Đăng xuất</a></button>
    </mat-menu>
  </div>
</nav>