.side-right {
    background-color: rgb(151, 211, 151)
}
.side-left {
    margin-right: 8px;
}
.parent-container {
    padding: 8px;
    background: white;
}
header mat-icon {
    margin-left: 4px;
    margin-right: 4px;
}
.title-category{
    font-weight: bolder
}