.cover {
    height: 300px
}
.side-left {
    margin-left: 10px;
}
.details {
    margin: 4px;
}
.title {
    margin-top: 8px;
    font-size: 24px;
    font-weight: 600;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.description {
    font-size: 18px;
    font-family: Roboto,"Helvetica Neue",sans-serif; 
    color: black
}
.owner-info {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin-top: 8px;
    a {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 600
    }
    mat-icon {
        margin-left: 16px;
        margin-right: 3px;
    }
}
h2 {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin: 0px;
    font-weight: 500;
    font-size: 2.2em;
}
.address {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin-top: 3px;
    font-size: 18px;
    span {
        color: blue;
        cursor: pointer;
        font-size: 18px;
        font-family: Roboto,"Helvetica Neue",sans-serif;
    }
    span:hover {
        color: rgb(17, 17, 94);
        text-decoration: underline;
    }
}
.detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 8px;
    font-size: 18px;
    mat-icon {
        margin-right: 3px;
    }
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.detail1 {
    font-size: 18px;
    font-family: Roboto,"Helvetica Neue",sans-serif; 
    span {
        font-size: 18px;
        font-family: Roboto,"Helvetica Neue",sans-serif;
        font-weight: 600
    }
}
.h-w {
    margin-left: 8px
}